html {
  --hcolor: #1F2328;
  --brandColor: #1f883d;
  --carBg: #fff;
  --border-radius: 4px;
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  max-width: 400px;
  border: 1px solid #bcbcbc;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;

}

body>div>div {
  display: flex;
  color: var(--hcolor, "black");
}

[type="button"] {
  background: var(--brandColor, "green");
  color: white;
  border: none;
  padding: 0.3rem 0.8rem;
  font-weight: bold;
  border-radius: calc(var(--border-radius));
}