.parent {
    display: grid;
    grid-gap: 10px;
    border: 1px solid black;
    grid-template-columns:minmax (25%, max-content) 1fr;
    background:#eee;
    place-items:center;
    padding:10px;
}
.parent >div{
    background:white;
    width:100%;
    height:100vh;
}
